.categories-screen-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories-screen-title
{
    color: white;
    margin-top: 2%;
}

.categories-screen-form
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.categories-screen-input
{
    padding: 10px;
}
.categories-screen-button
{
    padding: 13px;
    margin-left: 5%;
    background-color: #4876f1;
    border: 0px;
    color: rgb(255, 255, 255);
    font-size: 10px;
}

