.h1-home
{
    color: white;
}
.button-home
{
    transform: translate(50vh);
    margin-top: 10px;
    padding: 10px 10px;
    color: white;
    border: 0px;
    font-weight: bold;
    background-color: rgb(63, 138, 252);
}