.container-products
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cantidad-busqueda
{
    color: white;
    font-weight: bold;
    font-style: inherit;
}