.cards-container
{
    display: flex;
    flex-direction: column;
    margin-top: 10%;

}

.card-home
{
    padding: 70px 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.h3-home
{
    color: rgba(55, 203, 106);
    font-weight: bold;
    font-size: 25px;
      

}

.link-home
{
    text-decoration: none;
}