

.cards-container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 40px;

}

.card-home
{
    padding: 70px 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.h3-home
{
    color: rgba(55, 203, 106);
    font-weight: bold;
    font-size: 25px;
      

}

.link-home
{
    text-decoration: none;
}

@media (max-width: 600px) {
    .cards-container{
        grid-template-columns: repeat(1, 0fr);
    }
  }