
.card-container-product
{
  padding: 20px;
  background-color: white; 
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin: 10px;
}

.li-item-product
{
  list-style: none;
  margin: 10px;
}
.product-image
{
  height: 350px;
  min-width: 250px;
}


.title-product-item
{
  margin: 10px;
}


