.card-product-detail
{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-detail-store-info
{    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
}
.product-detail-store-info:hover
{
    background-color: rgb(215, 255, 231);
}


.image-product-detail-card
{
    height: 350px;
    min-width: 250px;
    margin-top: 5%;
}
.ul-product-detail-card
{
    list-style: none;      
    
}
.h1-store-name-product-detail
{
    margin-top: 10px;
    font-weight: bold;
}
.h1-title-detail-product
{
    margin-top: 3%;
}
.description-product-detail
{
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
}
.h1-price-detail-product
{
    margin-top: 3%;
    color: rgba(55, 203, 106);
}
.text-info-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    
}
.store-and-pic-container
{
    display: flex;
    
}
.image-store-detail-card
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}
.li-product-detail
{
    margin-top: 3%;
}