.card-store-detail
{
    background-color: white;
    padding: 20px 200px;
    display: flex;      
    flex-direction: column;   
    margin: 5px;
    margin-bottom: 15px;
   
}

.store-detail-info-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.store-detail-adress
{
    color: #4876f1;
}
.store-detail-title
{
    
}
.store-detail-image
{
    width: 300px;
    height: 250px;
    margin-top: 2%;
}
.rating-component-store-detail
{
    margin-top: 1%;
}
.store-detail-productos-title-alert
{
    margin-top: 1%;
}
.store-detail-products-container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;   
    margin-top: 6%;

}



.store-detial-ul
{
    margin-top: 5%;
    list-style: none;
    max-width: 400px;
}
.store-detail-li
{
    margin-top: 3%;
}
.store-detail-ds
{
    font-style: italic;
}
.store-detail-owner-container
{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5%;
}
.store-detial-owner-name
{
    text-align: center;
}
.store-detail-user-pic
{
    width: 65px;
    height: 70px;
    border-radius: 50%;
    margin-left: 1%;
}