.cards-store-item
{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}


@media (max-width: 800px) {
    .cards-store-item {
        grid-template-columns: repeat(2, 0fr);
    }
  }
  @media (max-width: 600px) {
    .cards-store-item {
        grid-template-columns: repeat(1, 0fr);
    }
  }  